services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-airflow}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-airflow}
      POSTGRES_DB: ${POSTGRES_DB:-airflow}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-airflow} -d ${POSTGRES_DB:-airflow}"]
      interval: 5s
      timeout: 5s
      retries: 10

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-minioadmin}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  airflow:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW__CORE__FERNET_KEY:-S3uOY5ifxbUe2-nXKXxiXKA47d4W-qWn87eY4SmkFxY=}
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER:-airflow}:${POSTGRES_PASSWORD:-airflow}@postgres:5432/${POSTGRES_DB:-airflow}

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minioadmin}
      MINIO_BUCKET: loan-raw

      RAW_DIR: /opt/airflow/shared/raw
      PROCESSED_DIR: /opt/airflow/shared/processed
      COMPRESSED_DIR: /opt/airflow/shared/compressed
      MINIO_TEMP_DIR: /opt/airflow/shared/tmp

      # Airflow basics
      AIRFLOW__WEBSERVER__BASE_URL: "http://localhost:8080"
      AIRFLOW__LOGGING__WORKER_LOG_SERVER_PORT: 8793
      AIRFLOW__EMAIL__EMAIL_BACKEND: airflow.utils.email.send_email_smtp
      AIRFLOW__SMTP__SMTP_HOST: smtp.gmail.com
      AIRFLOW__SMTP__SMTP_PORT: 587
      AIRFLOW__SMTP__SMTP_STARTTLS: "True"
      AIRFLOW__SMTP__SMTP_SSL: "False"
      AIRFLOW__SMTP__SMTP_USER: jojiprometheus@gmail.com
      AIRFLOW__SMTP__SMTP_PASSWORD: zwatdcellqrdpeyc
      AIRFLOW_CONN_SMTP_DEFAULT: null
      AIRFLOW_VAR_EMAIL_RECIPIENTS: "bashilshrestha12@gmail.com"
    ports:
      - "8080:8080"
      - "8793:8793"
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/rclone:/home/airflow/.config/rclone
      - d:\Work_2\etl_airflow_minio\airflow\credentials\service_account.json:/opt/airflow/credentials/service_account.json:ro
      - d:\Work_2\etl_airflow_minio\shared\raw:/opt/airflow/shared/raw
      - d:\Work_2\etl_airflow_minio\shared\processed:/opt/airflow/shared/processed
      - d:\Work_2\etl_airflow_minio\shared\compressed:/opt/airflow/shared/compressed
      - d:\Work_2\etl_airflow_minio\shared\tmp:/opt/airflow/shared/tmp
      - D:\Work_2\etl_airflow_minio\airflow\sparks_jobs:/opt/airflow/sparks_jobs
    command: >
      bash -c "
        mkdir -p /opt/airflow/shared/raw /opt/airflow/shared/processed /opt/airflow/shared/tmp &&
        airflow db init &&
        airflow scheduler &
        exec airflow webserver
      "
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12

volumes:
  postgres-db:
  minio-data: